
body{ 
  font-family: 'RixGo L'; 
}
  
  
  .btn {
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
    text-decoration: none;
  }
  
  .btn:hover{
    background-color: #333;
    color: #fff;
  }
  .btn.btn--white{
    color: #fff;
    border-color:#fff;
  }
  .btn.btn--white:hover{
    color: #333;
    background-color:#fff;  
  }
/* 메인화면 */
 /* background images */
 html{
   height: auto;
   overflow-x:hidden ;
 }
.mainsection {
  display: block;
  width: 100%;
  height: 1000px;
  background-image: url(/images/first.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}

 /* main - navbar */
.mainsection .nav-bar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-left: 200px;
  
}
/* 로고 넣는 부분 */
.mainsection .nav-bar .inputlogo {
  width: 50px;
  height: 50px;
  right: 200px;
}
.mainsection .nav-bar .logosize{
  top:40px;
  position: relative;
  right: 320px;
  width: 170px;
}


.mainsection .search_bar .material-icons {

}
/* 네비게이션 바  */
.mainsection .nav-bar .header-bar{
  width: 40%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainsection .nav-bar .header-bar .listitems{
  display: flex;
  position: relative;
  top:33px;
}

/* 네비게이션 요소 거리두기 요소 */
.mainsection .nav-bar .header-bar .listitems li{
  margin-right: 40px;
}

.mainsection .nav-bar .header-bar .listitems li:last-child{
  margin-right: 0px;
}

.mainsection .nav-bar .header-bar .listitems a {
  font-size: 18px;
  text-decoration: none;
  list-style: none;
  color: #fff;
  font-weight: 500;
}

.mainsection .nav-bar .header-bar .listitems a:hover {
  border-bottom: 1px solid #fff;
}



.mainsection .onbording {
  width: 100%;
  height: 700px;
 
}


.mainsection .onbording .textonbord{ 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top:260px;
}
.mainsection .onbording .textonbord h1{ 
  font-family: RixGo B;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;

  color: #fff;
  margin-bottom: 30px;
}


.mainsection .search_bar {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainsection .search_bar #search {

  width: 600px;
  height: 40px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 28px;
  border: 1px solid #fff;
  outline: none;
  font-size: 20px;
  padding-left: 30px;

}

.mainsection .search_bar .material-icons{
  position: relative;

  right: 50px;
}








/* suggest mbti */
.goto_mbti {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.back_mbti{
  position: relative;
  background-position: center;
  background-size: contain;
  top:60px;
  left: 500px;
  width: 584px;
  height: 260px;
  background-image: url(../images/mbti_background.png);
}
.goto_mbti .positionset{
  width: 100%;
  height: 300px;
  margin-bottom: 151px;
}
.goto_mbti .positionset .textposition {
  width: 100%;
  height: 100px;  
  position: relative;
  top: 110px;
}
.goto_mbti .positionset h1{
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  position: relative;
  text-align: center;
  justify-content: first baseline;
  align-items: center;
  padding-bottom: 10px;
}
.goto_mbti .positionset h2{
  font-size: 19px;
  position: relative;
  text-align: center;
  padding-bottom: 10px;

}
.goto_mbti .positionset h3{
  font-size: 19px;
  position: relative;
  text-align: center;

}
.goto_mbti .movepage-mbti{
  width: 100%;
  height: 120px;
  position: relative;
  top:100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goto_mbtilink{
  position: relative;
  top: 30px;
  width: 230px;
  height: 62px;
  text-align: center;
  border :1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  transition: .7s;
}
.goto_mbti .movepage-mbti :hover{
  background-color: #000;
  color: #fff;
}

/* slider */

.slide_background {
  width: 100%;
  height: 600px;
  background-color: #E5E5E5;
  display: flex;
}

.slide_background .slide_section1 {
  width: 30%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.slide_background .slide_section1 .slide_contents1 {
  position: relative;
  bottom: 50px;
}


.slide_background .slide_section1 .slide_contents1 h1 {
  font-style: RixGo B;
  font-size: 30px;
  font-weight: 400;
  line-height: 53px;
}
.slide_background .slide_section1 .slide_contents1 h1:nth-child(3){
  margin-bottom: 17px;
}


.slide_background .slide_section1 .slide_contents1 h3 {
  font-style: RixGo B;
  font-size: 21px;
  line-height: 23px;
}

.slide_background .slide_section2 {
  display: flex;
  justify-content: center;
  align-items: center ;
  margin-right: 20px;
}
.slide_background .slide_section2 .slide_contents2 {
  width: 614.95px;
  height: 431.57px;
}



.slide_background .slide_section3 {
  display: flex;
  justify-content: center;
  align-items: center ;
}
.slide_background .slide_section3 .slide_contents4 {
  width: 614.95px;
  height: 431.57px;
  
}
.slide_background .slide_section4 {
  display: flex;
  justify-content: center;
  align-items: center ;
}
.slide_background .slide_section4 .slide_contents4 {
  width: 614.95px;
  height: 431.57px;
  display: none;
}

.keywords_section{
  width: 100%;
  height: 900px;
}
.keywords_section .text_section {
  width: 1500px;
  height: 100px;
  position: relative;
  top:80px;
  left: 130px;
  
}
.keywords_section .text_section h1{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
.keywords_section .text_section h4{
  font-size: 20px;
  font-weight: 400;
}



.keywords_section .morepage {
  width: 100px;
  height: 100px;
  position: relative;
  bottom: 30px;
  left: 1280px;
}
.keywords_section .morepage a{
  font-size: 20px;
  text-decoration: none;
  color: #000;
  transition: 1s;
}
.keywords_section .morepage a:hover{
  font-size: 26px;
 
}

.morepage .material-icons {
  position: relative;
  top: 3px;
}

.keywords_photo_section {
  width: 90%;
  height: 600px;
  position: relative;
  top:60px;
  left: 80px;
  margin-right: 150px;
}
.keywords_photo_section .photo1 {
  width: 340px;
  height: 520px;
  position: absolute;
  top:30px;
  left: 60px;
  background-image: url(../images/keyword_1.png);
}

.keywords_photo_section .photo2{
  position: absolute;
  width: 770px;
  height: 250px;
  background-color: beige;
  left: 450px;
  top:30px;
  background-image: url(../images/keyword_2.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.keywords_photo_section .photo3 {
  width: 350px;
  height: 250px;
  position: absolute;
  left: 880px;
  top:300px;
  background-image: url(../images/keyword_3.png);
}
.keywords_photo_section .photo4 {
  width: 350px;
  height: 250px;
  background-color:royalblue;
  position: absolute;
  left: 452px;
  top:300px;
  background-image: url(../images/keyword_4.png);
}

.review_section {
  width: 100%;
  height: 700px;
  background-color: #F6F6F6;
}


.review_section .review_info {
  width: 500px;
  height:100px;
  line-height: 50px;
  position: relative;
  top:80px;
  left: 130px;
}


.review_section .review_info h1{
  font-size: 33px;
}

.review_section .review_info h2{
  font-size: 21px;
}


.review_section .morepage {
  width: 100px;
  height: 100px;
  position: relative;
  bottom: 30px;
  left: 1380px;
}
.review_section .morepage a{
  font-size: 20px;
  text-decoration: none;
  color: #000;
  transition: 1s;
}
.riview_section .morepage a:hover{
  font-size: 26px;
}

.review_section .review_post {
  width: 100%;
  height: 500px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review_section .review_post .post1 {
  width: 400px;
  height: 400px;
  background-color: #fff;
  margin-right: 20px;
  background-image: url(../images/review1.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
}

.review_section .review_post .post2 {
  width: 400px;
  height: 400px;
  background-color: #fff;
  margin-right: 20px;
}

.review_section .review_post .post3 {
  width: 400px;
  height: 400px;
  background-color: #fff;
}








/* swiper - slide */
/* 
.notice {

}
.notice .notice-line {
  position: relative;
}

.notice .notice-line .bg-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #333;
}
.notice .notice-line .bg-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #f6f5ef;
}
.notice .notice-line .inner {
  height: 62px;
  display: flex;
}

.notice .notice-line .inner .inner__left {
  width: 60%;
  height: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}

.notice .notice-line .inner .inner__left .swiper-container {
  height: 62px;
  flex-grow: 1;  
}
.notice .notice-line .inner .inner__left .swiper-slide{
  height: 62px;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner .inner__left .swiper-slide a{
  color: #fff;

}
.notice .notice-line .inner .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner .inner__left .notice-line__more .material-icons{
  color: #fff;
  font-size: 30px;
}

.notice .notice-line .inner .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.notice .notice-line .inner .inner__right h2{
  font-size: 17px;
  font-weight: 700;

}
.notice .notice-line .inner .inner__right .toggle-promotion{
  width: 62px;
  height: 62px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}
.notice .notice-line .inner .inner__right .toggle-promotion .material-icons{
  font-size: 30px;
}

.notice .promotion {
  height: 693px;
  position: relative;
  transition: height .4s;
  overflow: hidden;
}
.notice .promotion.hide {
  height: 0;
}






.notice .promotion .swiper-container {
  width: calc(819px *3 + 20px);
  height: 400px;
  position: absolute;
  top:40px;
  left:50%;
  margin-left:calc((819px*3 + 20px)/-2);
}

.notice .promotion .swiper-slide {
  opacity: .4;
  transition: opacity 1s;
  position: relative;
}

.notice .promotion .swiper-slide-active {
  opacity: 1;
}

.notice .promotion .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.notice .promotion .swiper-pagination {
  bottom: 40px;
  left:0;
  right: 0;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url("../images/promotion_slide_pager.png");
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
 background-image: url("../images/promotion_slide_pager_on.png");
}


.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top:300px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}
.notice .promotion .swiper-prev{
  left:50%;
  margin-left:-480px;
}

.notice .promotion .swiper-next{
  right:50%;
  margin-right:-480px;
}

.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
  background-color: #333;
  color: #fff;
  
}
.swipertext {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top:100px;
  width: 100%;
  height: 200px;
}
.swipertext h1{
  font-size: 35px;
  font-weight: 400;
} */

/* footer */

.footersetter{
  margin-top: 600px;
}
footer{
  background-color: #272727;
  border-top: 1px solid #333;

}

footer .inner{
  padding: 40px 0 60px 0;
}

footer .menu{
  display: flex;
  justify-content: center;
}
footer .menu li{
  position: relative;
}
footer .menu li::before{
  content: "";
  width: 3px;
  height: 3px;
  background-color: #555;
  position: absolute;
  top:0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
footer .menu li:last-child::before{
  display: none;
}
footer .menu li a{
  color: #ccc;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
  display: block;
}

footer .menu li a.green{
  color: #669900;
}

footer .btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;

}
footer .btn-group .btn {
  font-size: 12px;
  margin-right: 10px;
  
}
footer .btn-group .btn:last-child {
  margin-right: 0;
}
footer .info{
  margin-top: 30px;
  text-align: center;
}

footer .info span{
  margin-right:20px;
  color: #999;
  font-size: 12px;
} 
footer .info span:last-child{
  margin-right: 0;
}

footer .copyright {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}

footer .logo{
  margin: 30px auto 0;
}
