/* main - navbar */


.backimg{

  width: 100%;
  height: 1000px;
  position: fixed;
  background-image: url(../images/back8.jpeg);
  background-repeat:no-repeat;
  background-size: cover;
}
.nav-bar{
  display: flex;
  justify-content: space-around;
  align-items:flex-start;

}
.nav-bar .inputlogo{
  position: relative;
  top: 40px;
  right: 40px;
}
.nav-bar .inputlogo .logosize{
  width: 200px;
  height: 40px;
}


.nav-bar .inputlogo .header-bar{

}

.nav-bar  .header-bar .listitems  {
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative;
  top:50px;
  left: 100px;
  z-index: 99;
}
.mainsection .nav-bar .header-bar .listitems a:hover {
  border-bottom: 1px solid #fff;
}

.nav-bar  .header-bar .listitems a{
  font-size: 18px;
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}
/* login */

.signin {
  position: relative;
  top:100px;
  padding: 100px 0 150px;
  /* background-color: #fff; */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.signin h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 24px;
}

.signin__card { 
  width: 500px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #f6f5f0;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, .3);
  color: #555;
  
}

.signin__card h2 {
  padding: 30px;
  font-size: 18px;
  text-align: center;
}

.signin__card h2 strong {
  font-weight: 700;
  color:royalblue;
}



.signin__card form {
  padding: 30px 22px;
}

.signin__card form input {
  width: 100%;
  margin-bottom: 12px;
  padding: 15px;
  border : 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
}

.signin__card form [type="submit"] {
  background-color:#38A3F0;
  border-radius: 10px;
  border:none;
  color: #fff;
  font-size:20px;
  cursor: pointer;
}
.signin__card form p{
  font: size 12px;
  color: #000;
  text-align: center;
}
.signin__card .actions {
  border-top:1px solid #ddd;
  display: flex;
}

.signin__card .actions a {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  padding: 20px;
  color: #555;
  font-size: 14px;
  border-right: 1px solid #ddd;
  text-decoration: none;
}

.signin__card .actions a:last-child {
  border-right: none;
}
.signin__card .actions a:hover {
  text-decoration: underline;
}
